In [1]:
import pandas as pd
import os
import geopandas as gpd
from shapely.geometry import Point

In [2]:
# Data of all states
folder_path = "../google-map-data/store-meta"

# List to hold all the state dfs
state_dataframes = []

# Loop through each file in the folder and append the df to the list
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df_state = pd.read_csv(file_path)
        state_dataframes.append(df_state)

# Combine all state DataFrames into one DataFrame
df_states = pd.concat(state_dataframes, ignore_index=True)
df_states

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Eagle Enterprises Inc,"Eagle Enterprises Inc, 1041 Ocean Dr, Homer, A...",0x56c12d9331100c9b:0x1928f20e7115f388,NaN,59.637164,-151.516859,['marine supply store'],4.7,3,NaN,"[['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5...",{'Service options': ['In-store shopping']},Open ⋅ Closes 5PM,"['0x56c12d9423ebd6a9:0x96b71d14c683ace0', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
1,Eagle Enterprises Inc,"Eagle Enterprises Inc, 1041 Ocean Dr, Homer, A...",0x56c12d9331100c9b:0x1928f20e7115f388,NaN,59.637164,-151.516859,['marine supply store'],4.7,3,NaN,"[['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5...",{'Service options': ['In-store shopping']},Open ⋅ Closes 5PM,"['0x56c12d9423ebd6a9:0x96b71d14c683ace0', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
2,Alaska Tent & Tarp,"Alaska Tent & Tarp, 2424 E 5th Ave, Anchorage,...",0x56c897916ab9b4d9:0x334e07a949ef65fc,NaN,61.217106,-149.835767,"['fabric product manufacturer', 'aircraft supp...",4.4,18,NaN,"[['Monday', '8:30AM–5:30PM'], ['Tuesday', '8:3...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8:30AM,"['0x56c897db88baae1f:0x45abf88c4d62a916', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
3,Valley Dollar Plus & MORE!,"Valley Dollar Plus & MORE!, 481 W Parks Hwy, W...",0x56c8df0f2cbd1b53:0x53d601e0489e104,NaN,61.582763,-149.461998,"['dollar store', 'convenience store', 'grocery...",3.9,26,NaN,"[['Sunday', '11AM–5PM'], ['Monday', '10AM–7PM'...",{'From the business': ['Identifies as veteran-...,Closed ⋅ Opens 10AM Mon,"['0x56c8984829b7a761:0x1bccd85b80a4a2bc', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
4,Sourdough Transfer,"Sourdough Transfer, 600 Driveway St, Fairbanks...",0x51324539aa87c7f1:0x75196ecfedd91c3f,NaN,64.851457,-147.725530,"['mover', 'moving and storage service', 'movin...",4.5,28,NaN,"[['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8AM Mon,"['0x5132453a013fb1f3:0x1c66f7bcc441028b', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341207,Walmart Supercenter,"Walmart Supercenter, 2200 17th St, Spirit Lake...",0x878cb43f39734807:0x7c20fd817a06680a,NaN,43.424338,-95.124478,"['department store', 'clothing store', 'craft ...",3.7,1152,$,"[['Saturday', '7AM–11PM'], ['Sunday', '7AM–11P...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x878cb45b61c0421b:0x63cece1607b24165', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341208,Foundation Building Materials,"Foundation Building Materials, 4401 112th St, ...",0x87ec27087c545371:0x3a5ffd1d59176776,NaN,41.641094,-93.768668,"['building materials market', 'construction ma...",4.5,18,NaN,"[['Friday', '7AM–4:30AM'], ['Saturday', 'Close...",{'Service options': ['In-store shopping']},NaN,"['0x87ec27087b63f6cb:0xab45fb285f06de23', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341209,Southern Iowa Oil,"Southern Iowa Oil, 2130 Court Ave, Chariton, I...",0x87e93bc31d68794f:0xe099b19a245c0f19,NaN,41.014260,-93.327017,"['gas station', 'convenience store']",3.6,15,NaN,NaN,NaN,NaN,"['0x87e93ac50fb43091:0x5daba4ef211a0a0', '0x87...",https://www.google.com/maps/place//data=!4m2!3...
341210,Flying J Travel Center,"Flying J Travel Center, 8200 Northwest Blvd, D...",0x87e3b56180231c17:0x7135d41221033ab8,NaN,41.602914,-90.624855,"['truck stop', 'convenience store', 'gas stati...",3.9,933,NaN,"[['Thursday', 'Open 24 hours'], ['Friday', 'Op...","{'Service options': ['In-store shopping', 'Del...",NaN,"['0x87e3b561451f0d83:0x2fbc08d29b5ead3b', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341211,Theisen's,"Theisen's, 403 E Oskaloosa St, Pella, IA 50219",0x87ef307cf7f381df:0x8786dc8056756e84,"Retailer stocking a wide range of home, farm &...",41.395948,-92.901603,"['department store', 'auto parts store', 'clot...",4.3,467,NaN,"[['Thursday', '8AM–8PM'], ['Friday', '8AM–8PM'...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x87ef3aac5bf421e9:0xb30642d12e24fb32', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [3]:
# Dropping duplicate rows
df_states = df_states.drop_duplicates()
df_states

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Eagle Enterprises Inc,"Eagle Enterprises Inc, 1041 Ocean Dr, Homer, A...",0x56c12d9331100c9b:0x1928f20e7115f388,NaN,59.637164,-151.516859,['marine supply store'],4.7,3,NaN,"[['Wednesday', '8AM–5PM'], ['Thursday', '8AM–5...",{'Service options': ['In-store shopping']},Open ⋅ Closes 5PM,"['0x56c12d9423ebd6a9:0x96b71d14c683ace0', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
2,Alaska Tent & Tarp,"Alaska Tent & Tarp, 2424 E 5th Ave, Anchorage,...",0x56c897916ab9b4d9:0x334e07a949ef65fc,NaN,61.217106,-149.835767,"['fabric product manufacturer', 'aircraft supp...",4.4,18,NaN,"[['Monday', '8:30AM–5:30PM'], ['Tuesday', '8:3...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8:30AM,"['0x56c897db88baae1f:0x45abf88c4d62a916', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
3,Valley Dollar Plus & MORE!,"Valley Dollar Plus & MORE!, 481 W Parks Hwy, W...",0x56c8df0f2cbd1b53:0x53d601e0489e104,NaN,61.582763,-149.461998,"['dollar store', 'convenience store', 'grocery...",3.9,26,NaN,"[['Sunday', '11AM–5PM'], ['Monday', '10AM–7PM'...",{'From the business': ['Identifies as veteran-...,Closed ⋅ Opens 10AM Mon,"['0x56c8984829b7a761:0x1bccd85b80a4a2bc', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
4,Sourdough Transfer,"Sourdough Transfer, 600 Driveway St, Fairbanks...",0x51324539aa87c7f1:0x75196ecfedd91c3f,NaN,64.851457,-147.725530,"['mover', 'moving and storage service', 'movin...",4.5,28,NaN,"[['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8AM Mon,"['0x5132453a013fb1f3:0x1c66f7bcc441028b', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
5,Sourdough Transfer,"Sourdough Transfer, 299 W 64th Ave, Anchorage,...",0x56c89786087eb2b5:0xaa26d5f2a0dcfac6,NaN,61.162996,-149.885888,"['mover', 'moving and storage service', 'movin...",4.2,18,NaN,"[['Sunday', 'Closed'], ['Monday', '8AM–5PM'], ...",NaN,Closed ⋅ Opens 8AM Mon,"['0x56c897d2e3117e3d:0x2d77c9f7c8b90a70', '0x5...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341207,Walmart Supercenter,"Walmart Supercenter, 2200 17th St, Spirit Lake...",0x878cb43f39734807:0x7c20fd817a06680a,NaN,43.424338,-95.124478,"['department store', 'clothing store', 'craft ...",3.7,1152,$,"[['Saturday', '7AM–11PM'], ['Sunday', '7AM–11P...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x878cb45b61c0421b:0x63cece1607b24165', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341208,Foundation Building Materials,"Foundation Building Materials, 4401 112th St, ...",0x87ec27087c545371:0x3a5ffd1d59176776,NaN,41.641094,-93.768668,"['building materials market', 'construction ma...",4.5,18,NaN,"[['Friday', '7AM–4:30AM'], ['Saturday', 'Close...",{'Service options': ['In-store shopping']},NaN,"['0x87ec27087b63f6cb:0xab45fb285f06de23', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341209,Southern Iowa Oil,"Southern Iowa Oil, 2130 Court Ave, Chariton, I...",0x87e93bc31d68794f:0xe099b19a245c0f19,NaN,41.014260,-93.327017,"['gas station', 'convenience store']",3.6,15,NaN,NaN,NaN,NaN,"['0x87e93ac50fb43091:0x5daba4ef211a0a0', '0x87...",https://www.google.com/maps/place//data=!4m2!3...
341210,Flying J Travel Center,"Flying J Travel Center, 8200 Northwest Blvd, D...",0x87e3b56180231c17:0x7135d41221033ab8,NaN,41.602914,-90.624855,"['truck stop', 'convenience store', 'gas stati...",3.9,933,NaN,"[['Thursday', 'Open 24 hours'], ['Friday', 'Op...","{'Service options': ['In-store shopping', 'Del...",NaN,"['0x87e3b561451f0d83:0x2fbc08d29b5ead3b', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
341211,Theisen's,"Theisen's, 403 E Oskaloosa St, Pella, IA 50219",0x87ef307cf7f381df:0x8786dc8056756e84,"Retailer stocking a wide range of home, farm &...",41.395948,-92.901603,"['department store', 'auto parts store', 'clot...",4.3,467,NaN,"[['Thursday', '8AM–8PM'], ['Friday', '8AM–8PM'...","{'Service options': ['Curbside pickup', 'In-st...",NaN,"['0x87ef3aac5bf421e9:0xb30642d12e24fb32', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [4]:
# Keep only useful columns for df_states
columns_to_keep_states = ['gmap_id', 'latitude', 'longitude']
df_states = df_states[columns_to_keep_states]
df_states

                                      gmap_id   latitude   longitude
0       0x56c12d9331100c9b:0x1928f20e7115f388  59.637164 -151.516859
2       0x56c897916ab9b4d9:0x334e07a949ef65fc  61.217106 -149.835767
3        0x56c8df0f2cbd1b53:0x53d601e0489e104  61.582763 -149.461998
4       0x51324539aa87c7f1:0x75196ecfedd91c3f  64.851457 -147.725530
5       0x56c89786087eb2b5:0xaa26d5f2a0dcfac6  61.162996 -149.885888
...                                       ...        ...         ...
341207  0x878cb43f39734807:0x7c20fd817a06680a  43.424338  -95.124478
341208  0x87ec27087c545371:0x3a5ffd1d59176776  41.641094  -93.768668
341209  0x87e93bc31d68794f:0xe099b19a245c0f19  41.014260  -93.327017
341210  0x87e3b56180231c17:0x7135d41221033ab8  41.602914  -90.624855
341211  0x87ef307cf7f381df:0x8786dc8056756e84  41.395948  -92.901603

[339899 rows x 3 columns]

In [5]:
# Load the shapefile for states
states_gdf = gpd.read_file("../socio-economic-data/state shapefile/cb_2018_us_state_5m.shp")

# Ensure the CRS of states_gdf is EPSG:4326 for consistency
states_gdf = states_gdf.to_crs(epsg=4326)

# Convert df_states to a GeoDataFrame by creating a geometry column from latitude and longitude
df_states = df_states.copy()  # Make a copy to avoid modifying the original DataFrame
df_states['geometry'] = df_states.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
df_states_gdf = gpd.GeoDataFrame(df_states, geometry='geometry', crs="EPSG:4326")

# Ensure consistent data types for merging
df_states_gdf['gmap_id'] = df_states_gdf['gmap_id'].astype(str)

# Perform spatial intersection using overlay
df_states_with_state = gpd.overlay(df_states_gdf, states_gdf, how='intersection')

# Assign state names and keep only the relevant columns
df_states_with_state['state'] = df_states_with_state['NAME']
df_states = df_states_with_state[['gmap_id', 'latitude', 'longitude', 'state']]

# Final output
df_states

                                      gmap_id   latitude   longitude     state
0       0x56c12d9331100c9b:0x1928f20e7115f388  59.637164 -151.516859    Alaska
1       0x56c897916ab9b4d9:0x334e07a949ef65fc  61.217106 -149.835767    Alaska
2        0x56c8df0f2cbd1b53:0x53d601e0489e104  61.582763 -149.461998    Alaska
3       0x51324539aa87c7f1:0x75196ecfedd91c3f  64.851457 -147.725530    Alaska
4       0x56c89786087eb2b5:0xaa26d5f2a0dcfac6  61.162996 -149.885888    Alaska
...                                       ...        ...         ...       ...
339312   0x876c7f11b01f5fd3:0xc518fddc4300ac6  39.708073 -105.001341  Colorado
339313    0x876b890bc6933989:0xe6c93557f67b5d  39.861521 -105.080365  Colorado
339314  0x876ea112917cfa13:0xb823d5fc5b53ee02  40.394325 -104.718313  Colorado
339315  0x876c7f4ff031b1a7:0xd63c647c233a610b  39.724640 -105.019903  Colorado
339316   0x876c7c2a116bb8b1:0xf643ffcda102fb4  39.708523 -104.937060  Colorado

[339317 rows x 4 columns]

In [6]:
# Load the shapefile for counties
county_gdf = gpd.read_file('../socio-economic-data/county shapefile/tl_2023_us_county.shp')

# Ensure the CRS of county_gdf is EPSG:4326 for consistency
county_gdf = county_gdf.to_crs(epsg=4326)

# Convert df_merged to a GeoDataFrame by creating a geometry column from latitude and longitude
df_states = df_states.copy()  # Ensure we are working on a copy of the DataFrame
df_states.loc[:, 'geometry'] = df_states.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
df_merged_gdf = gpd.GeoDataFrame(df_states, geometry='geometry', crs="EPSG:4326")

# Perform spatial join between df_merged and the county shapefile using predicate="within"
df_merged_with_county = gpd.sjoin(df_merged_gdf, county_gdf, how="left", predicate="within")

# Add the county column
df_merged_with_county['county'] = df_merged_with_county['NAME']

# Drop the geometry column for final output
df_merged_with_county.drop(columns='geometry', inplace=True)

# Keep only the useful columns
columns_to_keep_county = ['gmap_id', 'county', 'state']
df_county = df_merged_with_county[columns_to_keep_county]

df_county

                                      gmap_id                county     state
0       0x56c12d9331100c9b:0x1928f20e7115f388       Kenai Peninsula    Alaska
1       0x56c897916ab9b4d9:0x334e07a949ef65fc             Anchorage    Alaska
2        0x56c8df0f2cbd1b53:0x53d601e0489e104     Matanuska-Susitna    Alaska
3       0x51324539aa87c7f1:0x75196ecfedd91c3f  Fairbanks North Star    Alaska
4       0x56c89786087eb2b5:0xaa26d5f2a0dcfac6             Anchorage    Alaska
...                                       ...                   ...       ...
339312   0x876c7f11b01f5fd3:0xc518fddc4300ac6                Denver  Colorado
339313    0x876b890bc6933989:0xe6c93557f67b5d             Jefferson  Colorado
339314  0x876ea112917cfa13:0xb823d5fc5b53ee02                  Weld  Colorado
339315  0x876c7f4ff031b1a7:0xd63c647c233a610b                Denver  Colorado
339316   0x876c7c2a116bb8b1:0xf643ffcda102fb4              Arapahoe  Colorado

[339317 rows x 3 columns]

In [8]:
# Load the review (health resource-related) data
df_review = pd.read_csv('../filtered-labeled-data/classed_data.csv')
df_review

,text,user_id,name,time,rating,pics,resp,gmap_id,keywords_mentioned,mentioned_keywords,class,data_source
0,While they didn't have sanitizing wipes for sa...,1.150000e+20,Mike M,37:38.9,5.0,NaN,NaN,0x8793eda4fb536a9b:0x525c42cfd3ccbe14,True,['wipes'],-1.0,labeled_data
1,I can always enter a big clean establishment w...,1.100000e+20,M D,33:34.4,4.0,NaN,NaN,0x8793ed31588601d7:0x405d1297a86923b4,True,['advil'],1.0,labeled_data
2,Friendly staff except for onetime i was gettin...,1.060000e+20,daniel moss,30:17.4,4.0,NaN,NaN,0x879e859064d845e7:0x490f14850b6f7e23,True,['alcohol'],9.0,labeled_data
3,I needed some quality masks,1.100000e+20,Elliot Warden,55:16.1,5.0,[{'url': ['https://lh5.googleusercontent.com/p...,NaN,0x87938810e4c88237:0xd8dbf0755990e321,True,['mask'],-1.0,labeled_data
4,"You can find pre-made food items, cheese, vita...",1.100000e+20,Aunty Fann,09:05.5,4.0,NaN,NaN,0x8796be4f0457121b:0x67e506f67aefbdfc,True,['vitamins'],1.0,labeled_data
...,...,...,...,...,...,...,...,...,...,...,...,...
244090,Health Nut is a great place to get all of your...,1.180000e+20,Bradley Mejia,37:04.9,4.0,NaN,NaN,0x89b2d055c98b3f07:0x5af2f4e2ae6585db,True,['vitamins'],1.0,unlabeled_predicted
244091,"Nice place, but they don't make people wear ma...",1.040000e+20,gabriels funtime,38:18.7,3.0,NaN,"{'time': 1606063695758, 'text': ""We as a store...",0x89b387c7fdf2ee07:0x814c365fa5e5fadc,True,['mask'],9.0,unlabeled_predicted
244092,ALSO covid/pandemic wise- there were too many ...,1.040000e+20,Sarah Phillips,47:58.8,1.0,NaN,NaN,0x89b36e6878ffd87f:0xad352c8e87e59213,True,['mask'],9.0,unlabeled_predicted
244093,I’m not allowed to buy groceries unless I wear...,1.080000e+20,Amber Wassam,33:18.3,1.0,NaN,NaN,0x89b5efbfdf45c881:0x37d76a3f96510495,True,['mask'],9.0,unlabeled_predicted
244094,but people not wearing mask,1.020000e+20,Tawny Bottiger,01:09.7,4.0,NaN,NaN,0x89b5efbfdf45c881:0x37d76a3f96510495,True,['mask'],9.0,unlabeled_predicted

In [9]:
# Keeping only the specified columns
columns_review = ['gmap_id', 'text', 'time', 'class']
df_review = df_review[columns_review]
df_review

,gmap_id,text,time,class
0,0x8793eda4fb536a9b:0x525c42cfd3ccbe14,While they didn't have sanitizing wipes for sa...,37:38.9,-1.0
1,0x8793ed31588601d7:0x405d1297a86923b4,I can always enter a big clean establishment w...,33:34.4,1.0
2,0x879e859064d845e7:0x490f14850b6f7e23,Friendly staff except for onetime i was gettin...,30:17.4,9.0
3,0x87938810e4c88237:0xd8dbf0755990e321,I needed some quality masks,55:16.1,-1.0
4,0x8796be4f0457121b:0x67e506f67aefbdfc,"You can find pre-made food items, cheese, vita...",09:05.5,1.0
...,...,...,...,...
244090,0x89b2d055c98b3f07:0x5af2f4e2ae6585db,Health Nut is a great place to get all of your...,37:04.9,1.0
244091,0x89b387c7fdf2ee07:0x814c365fa5e5fadc,"Nice place, but they don't make people wear ma...",38:18.7,9.0
244092,0x89b36e6878ffd87f:0xad352c8e87e59213,ALSO covid/pandemic wise- there were too many ...,47:58.8,9.0
244093,0x89b5efbfdf45c881:0x37d76a3f96510495,I’m not allowed to buy groceries unless I wear...,33:18.3,9.0
244094,0x89b5efbfdf45c881:0x37d76a3f96510495,but people not wearing mask,01:09.7,9.0

In [10]:
# Dropping duplicate rows from df_reviews
df_review = df_review.drop_duplicates()
df_review

,gmap_id,text,time,class
0,0x8793eda4fb536a9b:0x525c42cfd3ccbe14,While they didn't have sanitizing wipes for sa...,37:38.9,-1.0
1,0x8793ed31588601d7:0x405d1297a86923b4,I can always enter a big clean establishment w...,33:34.4,1.0
2,0x879e859064d845e7:0x490f14850b6f7e23,Friendly staff except for onetime i was gettin...,30:17.4,9.0
3,0x87938810e4c88237:0xd8dbf0755990e321,I needed some quality masks,55:16.1,-1.0
4,0x8796be4f0457121b:0x67e506f67aefbdfc,"You can find pre-made food items, cheese, vita...",09:05.5,1.0
...,...,...,...,...
244090,0x89b2d055c98b3f07:0x5af2f4e2ae6585db,Health Nut is a great place to get all of your...,37:04.9,1.0
244091,0x89b387c7fdf2ee07:0x814c365fa5e5fadc,"Nice place, but they don't make people wear ma...",38:18.7,9.0
244092,0x89b36e6878ffd87f:0xad352c8e87e59213,ALSO covid/pandemic wise- there were too many ...,47:58.8,9.0
244093,0x89b5efbfdf45c881:0x37d76a3f96510495,I’m not allowed to buy groceries unless I wear...,33:18.3,9.0
244094,0x89b5efbfdf45c881:0x37d76a3f96510495,but people not wearing mask,01:09.7,9.0

In [12]:
# Merge both dfs based on 'gmap_id' column
df_merged = pd.merge(df_county, df_review, on='gmap_id', how='inner')
df_merged

,gmap_id,county,state,text,time,class
0,0x51324539aa87c7f1:0x75196ecfedd91c3f,Fairbanks North Star,Alaska,No one was wearing masks and everyone was on t...,10:18.8,9.0
1,0x56c7b672b51a2b31:0x4f0e143cc4dd950c,Kenai Peninsula,Alaska,"Friendly staff, great selection of items and t...",39:33.2,1.0
2,0x56c897a7c3f17fd3:0x34b32ebc391344dd,Anchorage,Alaska,Lake Otis Pharmacy has really shined since the...,34:43.8,1.0
3,0x513245425df672cf:0x766fc682ee2f506a,Fairbanks North Star,Alaska,They need to make up their mind on the mask rules,49:21.0,9.0
4,0x56c89621407a4623:0xd31cf0b84a599be6,Anchorage,Alaska,Strong adherence to social distancing and mask...,14:06.3,9.0
...,...,...,...,...,...,...
229185,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,"Every staff member had a mask on, was helpful,...",13:27.5,9.0
229186,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,People are required to wear masks upon enterin...,31:52.4,9.0
229187,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,They do not limit the amount of people in the ...,40:43.3,9.0
229188,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,I went there today and saw 3 different employe...,06:07.5,9.0
229189,0x876c7c2a116bb8b1:0xf643ffcda102fb4,Arapahoe,Colorado,They stopped limiting the number of people all...,32:22.1,9.0

In [ ]:
# Convert the time column to datetime format
df_merged['time'] = pd.to_datetime(df_merged['time'], errors='coerce')

# Define the time periods based on events
periods = {
    'Pre-COVID': ('2018-01-01', '2020-01-31'),
    'During-COVID': ('2020-02-01', '2020-05-31'),
    'Post-COVID': ('2020-06-01', '2021-05-31')
}

# Function to calculate the review count and average sentiment for each period
def calculate_sentiment(df, start_date, end_date):
    period_df = df[(df['time'] >= start_date) & (df['time'] <= end_date)]
    grouped_df = period_df.groupby(['county', 'state']).agg(
        review_count=('gmap_id', 'size'),  # count the number of reviews
        total_sentiment=('class', lambda x: (x == 1).sum() - (x == -1).sum())  # calculate the total sentiment
    ).reset_index()
    grouped_df['average_sentiment'] = grouped_df['total_sentiment'] / grouped_df['review_count']
    return grouped_df

# Create empty df to store the combined results
result_df = df_merged[['county', 'state']].drop_duplicates().copy()

# Loop through periods and add the review count and average sentiment for each period
for period, (start, end) in periods.items():
    period_data = calculate_sentiment(df_merged, start, end)
    period_data.columns = ['county', 'state', f'{period}_review_count', f'{period}_total_sentiment', f'{period}_average_sentiment']
    result_df = pd.merge(result_df, period_data[['county', 'state', f'{period}_review_count', f'{period}_average_sentiment']], on=['county', 'state'], how='left')

# Display the final df
result_df

In [ ]:
result_df.describe()

In [ ]:
# Filtering rows where all three review count have values greater than 10
result_df_10 = result_df[
    (result_df['Pre-COVID_review_count'] > 10) &
    (result_df['During-COVID_review_count'] > 10) &
    (result_df['Post-COVID_review_count'] > 10)
]

result_df_10

In [ ]:
result_df_10.describe()

In [1]:
# Save the dataframe 'filtered_county' as a CSV file

file_path = '../result-regression-data/county_sentiment.csv'
result_df_10.to_csv(file_path, index=False)